body{
background:#0f172a;
color:white;
font-family:Arial;
}

.sidebar{
height:100vh;
background:#020617;
padding:20px;
}

.logo{
color:#38bdf8;
margin-bottom:30px;
}

.nav-link{
color:white;
margin-bottom:10px;
}

.nav-link:hover{
color:#38bdf8;
}

.main-content{
padding:30px;
}

.stat-card{
padding:20px;
background:#1e293b;
border:none;
border-radius:10px;
text-align:center;
}

table{
margin-top:10px;
}